@model IEnumerable<ShopStore.Services.Contract.Models.ProductDTO>
<div class="container-fluid">
    <div class="d-flex flex-wrap" id="prodList">

    </div>
</div>
<script>
    function getProductList(categoryId) {
        $.ajax({
            url: 'Home/GetProductsByCategory',
            type: 'GET',
            data: 'categoryId=' + categoryId,
            success: function (data) {
                var root = $('#prodList');
                if (data.products.length != 0) {
                    $(root).empty();
                    data.products.forEach(function (item) {
                        var html = '<div class="card mx-2 mb-2" style="width: 16rem;">' +
                            '<img class="card-img-top cropped" src="data:image/jpeg;base64,' + item.image + '" />' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">'+item.name+'</h5>' +
                            '<div class="box"><p class="card-text">'+item.description+'</p></div>' +
                            '<button class="btn btn-primary stretched-link" onclick="addProductToCart(\''+item.id+'\')">Add To Cart</button></div></div>';
                        $(html).appendTo(root);
                    });
                } else {
                    $(root).empty();
                }
            },
            error: function () {

            }
        });
    }

    function addProductToCart(productId) {
        $.ajax({
            url: 'Cart/AddProductToCart',
            type: 'GET',
            data: 'productId=' + productId,
            success: function (data) {
                if (data.success) {
                    $("#prod_count").html(data.productCount);
                    toastr.success('Product added to cart');
                } else {
                    toastr.error('Error adding product');
                }
            },
            error: function () {
                window.location.href = "Account/Login";
            }
        });
    }

</script>

