@model IEnumerable<ShopStore.Services.Contract.Models.ProductDTO>
<div class="container-fluid">
    <div class="d-flex flex-wrap" id="prodList">

    </div>
</div>
<script src="~/js/Home/productList.js"></script>

