@{
    ViewData["Title"] = "Index";
}

<h1>Your Cart</h1>

<table id="table" class="table table-sm">
    <thead>
        <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="cart_table_body">

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td id="cart_totalSum"></td>
            <td id="order_btn_block">
                <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Order" asp-action="MakeOrder">To Order</a>
            </td>
        </tr>
    </tfoot>
</table>
<script src="~/js/Cart/Index.js"></script>