
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="text-uppercase font-weight-bold mt-2 mb-3"><strong>Access is denied</strong></h1>
            <h3 class="white-text mb-0">
                You don't have permission to access this resource
            </h3>
        </div>
        <div class="card-footer">
            @Html.ActionLink("To home", "Index", "Home")
        </div>
    </div>
</div>

